body{
    background-color: aqua;
    text-align: center;
}
h1{
    color: rgb(234, 30, 30);
    font-family:monospace ;
    }
    h3{
        color: rgb(99, 241, 11);
        font-family: serif;
    }
    #para{
        color: crimson;
        font-size: larger;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: oblique;
    }
    .C1{
        color: rgb(192, 179, 7);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: larger;
        font-style: oblique;
    }
    .c2{
        color: darkmagenta;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: larger;
        font-style: oblique;
    }
